<div class="ui black centered huge header"><%= i18n.__("Sign up") %></div>
<form action="/signup" method="post" class="ui equal width form" enctype="multipart/form-data" accept-charset="utf-8">
		<div class="field">
			<label for="photo" class="ui icon button">
					<p><i class="cloud icon"></i> <%= i18n.__("Profile picture") %></p>
			</label>
			<input type="file" id="photo" name="photo" hidden>
		</div>
		<div class="fields">
				<div class="field required">
						<label><%= i18n.__("Login") %></label>
						<input type="text" placeholder="<%= i18n.__("Login") %>" name="login">
				</div>

				<div class="field required">
						<label><%= i18n.__("First name") %></label>
						<input type="text" placeholder="<%= i18n.__("First name") %>" name="first_name">
				</div>

				<div class="field required">
						<label><%= i18n.__("Last name") %></label>
						<input type="text" placeholder="<%= i18n.__("Last name") %>" name="last_name">
				</div>
		</div>

		<div class="field required">
				<label>E-mail</label>
				<input type="email" placeholder="batman@arkham.city" name="email">
		</div>

		<div class="fields">
				<div class="field required">
						<label><%= i18n.__("Password") %></label>
						<input type="password" placeholder="<%= i18n.__("Password") %>" name="password">
				</div>

				<div class="field required">
						<label><%= i18n.__("Confirmation") %></label>
						<input type="password" placeholder="<%= i18n.__("Password") %>" name="psswd_confirm">
				</div>
		</div>

		<button type="submit" class="ui fluid black submit button">
				<%= i18n.__("Sign up") %>
		</button>
</form>
