<% include ./assets/header.ejs %>

<div class="ui main container" style="margin-top: 3em;">
    <div class="ui styled fluid accordion">
        <div class="title" style="background-color:#000000; text-align:center;">
            <i class="dropdown icon" style="color:#fff"></i>
            <span style="color:#fff"><%= i18n.__("Filter and / or sort profiles") %></span>
        </div>
        <div class="content">
            <p class="transition hidden">
                <form onkeypress="return event.keyCode != 13;" action="/filter" method="POST" class="ui form">
                    <div class="ui two column middle aligned very relaxed stackable grid">
                        <div class="column">
                            <div class="field">
                                <span class="range-values">
                                    <input id="note-lower0" name="noteL" type="hidden" value="">
                                    <input id="note-upper0" name="noteU" type="hidden" value="">
                                    <span id="note-lower">3</span>
                                    <span>-</span>
                                    <span id="note-upper">5</span>
                                </span>
                                <label><%= i18n.__("Note") %></label>
                                <div id="noteRange"></div>
                            </div>
                            <div class="field">
                                <span class="range-values">
                                    <input id="year-lower0"  name="yearL" type="hidden" value="">
                                    <input id="year-upper0"  name="yearU" type="hidden" value="">
                                    <span id="year-lower">1900</span>
                                    <span>-</span>
                                    <span id="year-upper">1980</span>
                                </span>
                                <label><%= i18n.__("Year of production") %></label>
                                <div id="yearRange"></div>
                            </div>
                            <div class="field">
                                <label><%= i18n.__("Videos viewed") %></label>
                                <div class="ui selection dropdown">
                                    <input type="hidden" name="etat" value="">
                                    <i class="dropdown icon"></i>
                                    <div class="default text"><%= i18n.__("Whatever") %></div>
                                    <div class="menu">
                                        <div class="item" data-value="yes"><%= i18n.__("Yes") %></div>
                                        <div class="item" data-value="no"><%= i18n.__("No") %></div>
                                        <div class="item" data-value="all"><%= i18n.__("Whatever") %></div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label><%= i18n.__("Genre") %></label>
                                <div class="ui fluid multiple search selection dropdown">
                                    <input name="interests" type="hidden" value="">
                                    <i class="dropdown icon"></i>
                                    <div class="default text"><%= i18n.__("Genre") %></div>
                                    <div class="menu">
                                        <div class="item" data-value="action"><%= i18n.__("Action") %></div>
                                        <div class="item" data-value="horror"><%= i18n.__("Horror") %></div>
                                        <div class="item" data-value="fantastic"><%= i18n.__("Fantastic") %></div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <button type="submit" class="ui fluid labeled black icon centered submit button">
                                    <i class="filter icon"></i>
                                    <span class="text"><%= i18n.__("Filter") %></span>
                                </button>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label><%= i18n.__("Sort by") %></label>
                                <div class="ui selection dropdown">
                                    <input type="hidden" name="sortType" value="">
                                    <i class="dropdown icon"></i>
                                    <div class="default text"><%= i18n.__("None") %></div>
                                    <div class="menu">
                                        <div class="item" data-value="nom"><%= i18n.__("Name") %></div>
                                        <div class="item" data-value="note"><%= i18n.__("note") %></div>
                                        <div class="item" data-value="year"><%= i18n.__("Year of production") %></div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label><%= i18n.__("Order") %></label>
                                <div class="ui selection dropdown">
                                    <input type="hidden" name="sortOrder" value="">
                                    <i class="dropdown icon"></i>
                                    <div class="default text"><%= i18n.__("None") %></div>
                                    <div class="menu">
                                        <div class="item" data-value="asc"><%= i18n.__("Ascending") %></div>
                                        <div class="item" data-value="desc"><%= i18n.__("Descending") %></div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <button type="submit" class="ui fluid labeled black icon centered submit button">
                                    <i class="filter icon"></i>
                                    <span class="text"><%= i18n.__("Sort") %></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </p>
        </div>
    </div>
</div>
<div class="ui main container" style="margin-top: 3em;"></div>
<div class="ui match-feed link centered cards">
<% for (video of videos) { %>
    <a id="cardMargin" class="ui black card" href="/video/<%= video.id %>">
        <div class="ui image">
            <img src="<%= video.image %>">
        </div>
        <div class="content">
            <span class="right floated">
                <i class="star red icon"></i>
                <span style="color:red !important;"><%= video.score %></span>
            </span>
            <div class="header"><%= video.title %> <span style="font-weight:normal;">, <%= video.year %></span></div>
            <div class="meta">
                <span class="date">
                    <%= video.director %> - <%= video.actors %>
                </span>
            </div>
            <div class="description">
                <%= video.summary %>
            </div>
        </div>
        <div class="extra content">
            <span class="right floated">
                <%= video.genres %>
            </span>
        </div>
    </a>
<% }%>
<% if (videos.length == 0) { %> <h1 class="ui">Aucun resultat...</h1> <% } %>
    
</div>
<script>
    $('.ui.accordion').accordion();
    $('.ui.dropdown').dropdown();
    $('.ui.multiple.search.dropdown').dropdown({allowAdditions: true});


    var yearRange = document.getElementById('yearRange');
    var noteRange = document.getElementById('noteRange');

    noUiSlider.create(yearRange, {
        start: [1900, 1980],
        connect: true,
        margin: 1,
        step: 1,
        tooltips: true,
        behaviour: 'tap-drag',
        range: {
            'min': 1800,
            'max': 2018
        }
    });

    noUiSlider.create(noteRange, {
        start: [3, 5],
        connect: true,
        margin: 1,
        step: 0.1,
        tooltips: [ true, true ],
        behaviour: 'tap-drag',
        range: {
            'min': 0,
            'max': 5
        }
    });

    var yearValues0 = [
        document.getElementById('year-lower0'),
        document.getElementById('year-upper0')
    ];

    var yearValues = [
        document.getElementById('year-lower'),
        document.getElementById('year-upper')
    ];

    var noteValues0 = [
        document.getElementById('note-lower0'),
        document.getElementById('note-upper0')
    ];

    var noteValues = [
        document.getElementById('note-lower'),
        document.getElementById('note-upper')
    ];

    yearRange.noUiSlider.on('update', function( values, handle ) {
        yearValues0[handle].value = values[handle];
        yearValues[handle].innerHTML = Math.round(values[handle]);
    });
    noteRange.noUiSlider.on('update', function( values, handle ) {
        noteValues0[handle].value = values[handle];
        noteValues[handle].innerHTML = Math.round(values[handle]);
    });
</script>

<% include ./assets/footer.ejs %>
