<% include ./assets/header.ejs %>

<div class="ui main container" style="margin-top: 3em;">
    <div class="ui styled fluid accordion">
        <div class="title" style="background-color:#000000; text-align:center;">
            <i class="dropdown icon" style="color:#fff"></i>
            <span style="color:#fff"><%= i18n.__("Filter and / or sort profiles") %></span>
        </div>
        <div class="content">
            <p class="transition hidden">
                <form onkeypress="return event.keyCode != 13;" action="/filter" method="POST" class="ui form">
                    <div class="ui two column middle aligned very relaxed stackable grid">
                        <div class="column">
                            <div class="field">
                                <span class="range-values">
                                    <input id="score-lower0" name="scoreL" type="hidden" value="<%= filters.score.l %>">
                                    <input id="score-upper0" name="scoreU" type="hidden" value="<%= filters.score.u %>">
                                    <span id="score-lower">3</span>
                                    <span>-</span>
                                    <span id="score-upper">5</span>
                                </span>
                                <label><%= i18n.__("Score") %></label>
                                <div id="scoreRange"></div>
                            </div>
                            <div class="field">
                                <span class="range-values">
                                    <input id="year-lower0"  name="yearL" type="hidden" value="<%= filters.year.l %>">
                                    <input id="year-upper0"  name="yearU" type="hidden" value="<%= filters.year.u %>">
                                    <span id="year-lower">1900</span>
                                    <span>-</span>
                                    <span id="year-upper">1980</span>
                                </span>
                                <label><%= i18n.__("Year of production") %></label>
                                <div id="yearRange"></div>
                            </div>
                            <div class="field">
                                <label><%= i18n.__("Videos viewed") %></label>
                                <div class="ui selection dropdown">
                                    <input type="hidden" name="videos_viewed" value="<%= filters.videos_viewed %>">
                                    <i class="dropdown icon"></i>
                                    <div class="default text"><%= i18n.__("None") %></div>
                                    <div class="menu">
                                        <div class="item" data-value="Y"><%= i18n.__("Yes") %></div>
                                        <div class="item" data-value="N"><%= i18n.__("No") %></div>
                                        <div class="item" data-value="all"><%= i18n.__("Whatever") %></div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label><%= i18n.__("Genres") %></label>
                                <div class="ui fluid multiple search selection dropdown">
                                    <input name="filterGenres" type="hidden" value="<%= filters.genres.join(',') %>">
                                    <i class="dropdown icon"></i>
                                    <div class="default text"><%= i18n.__("Genres") %></div>
                                    <div class="menu">
                                        <% for (genre of genres) { %>
                                            <div class="item" data-value="<%= genre.genre %>"><%= i18n.__(genre.genre) %></div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label><%= i18n.__("Directors") %></label>
                                <div class="ui fluid multiple search selection dropdown">
                                    <input name="filterDirectors" type="hidden" value="<%= filters.directors.join(',') %>">
                                    <i class="dropdown icon"></i>
                                    <div class="default text"><%= i18n.__("Directors") %></div>
                                    <div class="menu">
                                        <% for (director of directors) { %>
                                            <div class="item" data-value="<%= director.director %>"><%= director.director %></div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label><%= i18n.__("Actors") %></label>
                                <div class="ui fluid multiple search selection dropdown">
                                    <input name="filterActors" type="hidden" value="<%= filters.actors.join(',') %>">
                                    <i class="dropdown icon"></i>
                                    <div class="default text"><%= i18n.__("Actors") %></div>
                                    <div class="menu">
                                        <% for (actor of actors) { %>
                                            <div class="item" data-value="<%= actor.actor %>"><%= actor.actor %></div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <button type="submit" class="ui fluid labeled black icon centered submit button">
                                    <i class="filter icon"></i>
                                    <span class="text"><%= i18n.__("Filter") %></span>
                                </button>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label><%= i18n.__("Sort by") %></label>
                                <div class="ui selection dropdown">
                                    <input type="hidden" name="sortType" value="<%= filters.sortType %>">
                                    <i class="dropdown icon"></i>
                                    <div class="default text"><%= i18n.__("None") %></div>
                                    <div class="menu">
                                        <div class="item" data-value="name"><%= i18n.__("Name") %></div>
                                        <div class="item" data-value="score"><%= i18n.__("Score") %></div>
                                        <div class="item" data-value="year"><%= i18n.__("Year of production") %></div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label><%= i18n.__("Order") %></label>
                                <div class="ui selection dropdown">
                                    <input type="hidden" name="sortOrder" value="<%= filters.sortOrder %>">
                                    <i class="dropdown icon"></i>
                                    <div class="default text"><%= i18n.__("None") %></div>
                                    <div class="menu">
                                        <div class="item" data-value="asc"><%= i18n.__("Ascending") %></div>
                                        <div class="item" data-value="desc"><%= i18n.__("Descending") %></div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <button type="submit" class="ui fluid labeled black icon centered submit button">
                                    <i class="filter icon"></i>
                                    <span class="text"><%= i18n.__("Sort") %></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </p>
        </div>
    </div>
</div>
<div class="ui main container" style="margin-top: 3em;"></div>
<div class="ui match-feed center link cards">
<% films.forEach((video) => { %>
	    <a id="cardMargin" class="ui black card" href="/video/<%= video.id %>">
	        <div class="ui image">
	                <span id="seen" class="ui teal right ribbon label" style="z-index:99"><%= i18n.__("Seen") %></span>
	                <span id="seen" class="ui grey right ribbon label" style="z-index:99"><%= i18n.__("Not seen") %></span>
				<% if (!video.poster) { %>
					<img src="https://sagmeisterwalsh.com/_image/2600x/fb6d4cb88989a0ceb9379c074d66f976.jpg">
				<% } else { %>
	            	<img src="<%= video.poster %>">
				<% } %>
			</div>
	        <div class="content">
	            <span class="right floated">
	                <i class="star red icon"></i>
	                <span style="color:red !important;"><%= video.rating %></span>
	            </span>
	            <div class="header"><%= video.title %><span style="font-weight:normal;">, <%= video.year %></span></div>
				<div class="meta">
					<span class="date">
						<%= video.director %> - <%= video.actors %>
					</span>
				</div>
				<div class="meta">
					 <span class="date">
						  <%= video.runtime %>
					 </span>
			 	</div>
	            <div class="description">
	                 <%= video.synopsis %>
	            </div>
	        </div>
	        <div class="extra content">
	            <span class="right floated">
	                <%= video.genres %>
	            </span>
	        </div>
	    </a>
<% }) %>
</div>
<% if (videos.length == 0) { %> <h1 class="ui">Aucun resultat...</h1> <% } %>

</div>
<script>
    $('.ui.accordion').accordion();
    $('.ui.dropdown').dropdown();
    $('.ui.multiple.search.dropdown').dropdown({allowAdditions: true});


    var yearRange = document.getElementById('yearRange');
    var scoreRange = document.getElementById('scoreRange');

    noUiSlider.create(yearRange, {
        start: [<%= filters.year.l %>, <%= filters.year.u %>],
        connect: true,
        margin: 1,
        step: 1,
        tooltips: true,
        behaviour: 'tap-drag',
        range: {
            'min': 1800,
            'max': 2018
        }
    });

    noUiSlider.create(scoreRange, {
        start: [<%= filters.score.l %>, <%= filters.score.u %>],
        connect: true,
        margin: 1,
        step: 0.1,
        tooltips: [ true, true ],
        behaviour: 'tap-drag',
        range: {
            'min': 0,
            'max': 5
        }
    });

    var yearValues0 = [
        document.getElementById('year-lower0'),
        document.getElementById('year-upper0')
    ];

    var yearValues = [
        document.getElementById('year-lower'),
        document.getElementById('year-upper')
    ];

    var scoreValues0 = [
        document.getElementById('score-lower0'),
        document.getElementById('score-upper0')
    ];

    var scoreValues = [
        document.getElementById('score-lower'),
        document.getElementById('score-upper')
    ];

    yearRange.noUiSlider.on('update', function( values, handle ) {
        yearValues0[handle].value = values[handle];
        yearValues[handle].innerHTML = Math.round(values[handle]);
    });
    scoreRange.noUiSlider.on('update', function( values, handle ) {
        scoreValues0[handle].value = values[handle];
        scoreValues[handle].innerHTML = Math.round(values[handle]);
    });
</script>

<% include ./assets/footer.ejs %>
