<% include ./assets/header.ejs %>
</div>
<div class="ui main container" style="margin-top: 3em;">
    <div class="ui styled fluid accordion">
        <div class="title" style="background-color:#000000; text-align:center;">
            <i class="dropdown icon" style="color:#fff"></i>
            <span style="color:#fff"><%= i18n.__("Filter and / or sort profiles") %></span>
        </div>
        <div class="content">
            <p class="transition hidden">
                <form onkeypress="return event.keyCode != 13;" action="/sort" method="POST" class="ui form">
                    <div class="ui two column middle aligned very relaxed stackable grid">
                        <div class="column">
                            <div class="field">
                                <span class="range-values">
                                    <input id="rating-lower0" name="ratingL" type="hidden" value="<%= filters.rating.l %>">
                                    <input id="rating-upper0" name="ratingU" type="hidden" value="<%= filters.rating.u %>">
                                    <span id="rating-lower">0</span>
                                    <span>-</span>
                                    <span id="rating-upper">10</span>
                                </span>
                                <label><%= i18n.__("Rating") %></label>
                                <div id="ratingRange"></div>
                            </div>
                            <div class="field">
                                <span class="range-values">
                                    <input id="year-lower0"  name="yearL" type="hidden" value="<%= filters.year.l %>">
                                    <input id="year-upper0"  name="yearU" type="hidden" value="<%= filters.year.u %>">
                                    <span id="year-lower">1900</span>
                                    <span>-</span>
                                    <span id="year-upper">1980</span>
                                </span>
                                <label><%= i18n.__("Year of production") %></label>
                                <div id="yearRange"></div>
                            </div>
                            <div class="field">
                                <label><%= i18n.__("Videos viewed") %></label>
                                <div class="ui selection dropdown">
                                    <input type="hidden" name="videos_viewed" value="<%= filters.videos_viewed %>">
                                    <i class="dropdown icon"></i>
                                    <div class="default text"><%= i18n.__("None") %></div>
                                    <div class="menu">
                                        <div class="item" data-value="Y"><%= i18n.__("Yes") %></div>
                                        <div class="item" data-value="N"><%= i18n.__("No") %></div>
                                        <div class="item" data-value="all"><%= i18n.__("Whatever") %></div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label><%= i18n.__("Genres") %></label>
                                <div class="ui fluid multiple search selection dropdown">
                                    <input name="filterGenres" type="hidden" value="<%= filters.genres %>">
                                    <i class="dropdown icon"></i>
                                    <div class="default text"><%= i18n.__("Genres") %></div>
                                    <div class="menu">
                                        <% genres.forEach(genre => { %>
                                            <div class="item" data-value="<%= genre %>"><%= i18n.__(genre) %></div>
                                        <% }) %>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label><%= i18n.__("Directors") %></label>
                                <div class="ui fluid multiple search selection dropdown">
                                    <input name="filterDirectors" type="hidden" value="<%= filters.directors %>">
                                    <i class="dropdown icon"></i>
                                    <div class="default text"><%= i18n.__("Directors") %></div>
                                    <div class="menu">
                                        <% directors.forEach(director => { %>
                                            <div class="item" data-value="<%= director %>"><%= director %></div>
                                        <% }) %>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label><%= i18n.__("Actors") %></label>
                                <div class="ui fluid multiple search selection dropdown">
                                    <input name="filterActors" type="hidden" value="<%= filters.actors %>">
                                    <i class="dropdown icon"></i>
                                    <div class="default text"><%= i18n.__("Actors") %></div>
                                    <div class="menu">
                                        <% actors.forEach(actor => { %>
                                            <div class="item" data-value="<%= actor %>"><%= actor %></div>
                                        <% }) %>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <button type="submit" class="ui fluid labeled black icon centered submit button">
                                    <i class="filter icon"></i>
                                    <span class="text"><%= i18n.__("Filter") %></span>
                                </button>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label><%= i18n.__("Sort by") %></label>
                                <div class="ui selection dropdown">
                                    <input type="hidden" name="sortType" value="<%= filters.sortType %>">
                                    <i class="dropdown icon"></i>
                                    <div class="default text"><%= i18n.__("None") %></div>
                                    <div class="menu">
                                        <div class="item" data-value="title"><%= i18n.__("Title") %></div>
                                        <div class="item" data-value="rating"><%= i18n.__("Rating") %></div>
                                        <div class="item" data-value="year"><%= i18n.__("Year of production") %></div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label><%= i18n.__("Order") %></label>
                                <div class="ui selection dropdown">
                                    <input type="hidden" name="sortOrder" value="<%= filters.sortOrder %>">
                                    <i class="dropdown icon"></i>
                                    <div class="default text"><%= i18n.__("None") %></div>
                                    <div class="menu">
                                        <div class="item" data-value="asc"><%= i18n.__("Ascending") %></div>
                                        <div class="item" data-value="desc"><%= i18n.__("Descending") %></div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <button type="submit" class="ui fluid labeled black icon centered submit button">
                                    <i class="filter icon"></i>
                                    <span class="text"><%= i18n.__("Sort") %></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </p>
        </div>
    </div>
</div>
<div class="ui main container" style="margin-top: 3em;"></div>
<div class="ui filmsFeed centered link cards">
<% films.forEach((video) => { %>
	    <a id="cardMargin" class="ui black card" href="/video/<%= video.id %>">
	        <div class="ui image">
	                <span id="seen" class="ui teal right ribbon label" style="z-index:99"><%= i18n.__("Seen") %></span>
	                <span id="seen" class="ui grey right ribbon label" style="z-index:99"><%= i18n.__("Not seen") %></span>
				<% if (!video.poster) { %>
					<img src="https://sagmeisterwalsh.com/_image/2600x/fb6d4cb88989a0ceb9379c074d66f976.jpg">
				<% } else { %>
	            	<img src="<%= video.poster %>">
				<% } %>
			</div>
	        <div class="content">
	            <span class="right floated">
	                <i class="star red icon"></i>
	                <span style="color:red !important;"><%= video.rating %></span>
	            </span>
	            <div class="header"><%= video.title %><span style="font-weight:normal;">, <%= video.year %></span></div>
				<div class="meta">
					<span class="date">
						<%= video.director %> - <%= video.actors %>
					</span>
				</div>
	        </div>
	        <div class="extra content">
                <%= video.runtime %>
	            <span class="right floated">
	                <%= video.genre %>
	            </span>
	        </div>
	    </a>
<% }) %>
</div>
<% if (films.length == 0) { %> <div class="ui main centered container" style="margin-top: 3em;"><h1 class="ui centered">Aucun resultat...</h1></div> <% } %>
<script>
(function($, window, undefined) {
    var page = 1;
    var lastHeight = 0;
    var token = "kb90dQbxzq0397352800";
    var InfiniteScroll = function() {
        this.initialize = function() {
            this.setupEvents();
        };
        
        this.setupEvents = function() {
            $(window).on(
                'scroll',
                this.handleScroll.bind(this)
            );
        };
 
        this.handleScroll = function() {
            var scrollTop = $(document).scrollTop();
            var windowHeight = $(window).height();
            var height = $(document).height() - windowHeight;
            var scrollPercentage = (scrollTop / height);
            
            // if the scroll is more than 90% from the top, load more content.
            if(scrollPercentage > 0.9 && lastHeight < height) {
                lastHeight = height
                console.log("scrollTop: "+scrollTop+"\nwindowHeight: "+windowHeight+"\nheight: "+height+"\nscrollPercentage: "+scrollPercentage)
                this.doSomething();
            }
        }
 
        this.doSomething = function() {
            ++page;
            console.log("Page: " + page)
            var url = "/api?token="+token+"&page="+page;
            url += "&ratingL=<%= filters.rating.l %>&ratingU=<%= filters.rating.u %>&";
            url += "yearL=<%= filters.year.l %>&yearU=<%= filters.year.u %>&";
            url += "genres=<%= filters.genres %>&directors=<%= filters.directors %>&actors=<%= filters.actors %>&";
            url += "sortType=<%= filters.sortType %>&sortOrder=<%= filters.sortOrder %>&";
            url += "videos_viewed=<%= filters.videos_viewed %>";
            console.log(url)
            $.ajax({
                type: "GET",
                url: url,
                dataType: "json",
                success: function (response) {
                    console.log(response)
                    response.films.forEach(film => {
                        let html = '<a id="cardMargin" class="ui black card" href="/video/'+film.id+'"> \
                                    <div class="ui image">\
                                    <span id="seen" class="ui teal right ribbon label" style="z-index:99"><%= i18n.__("Seen") %></span>\
                                    <span id="seen" class="ui grey right ribbon label" style="z-index:99"><%= i18n.__("Not seen") %></span>';
                        if (!film.poster) html += '<img src="https://sagmeisterwalsh.com/_image/2600x/fb6d4cb88989a0ceb9379c074d66f976.jpg">';
                        else html += '<img src="'+film.poster+'">';
                        html += '</div>\
                                <div class="content">\
                                    <span class="right floated">\
                                        <i class="star red icon"></i>\
                                        <span style="color:red !important;">'+film.rating+'</span>\
                                    </span>\
                                    <div class="header">'+film.title+'<span style="font-weight:normal;">, '+film.year+'</span></div>\
                                    <div class="meta">\
                                        <span class="date">\
                                            '+film.director+' - '+film.actors+'\
                                        </span>\
                                    </div>\
                                </div>\
                                <div class="extra content">\
                                    '+film.runtime+'\
                                    <span class="right floated">\
                                        '+film.genre+'\
                                    </span>\
                                </div>\
                            </a>';
                        $('.filmsFeed').append(html)
                    })
                }
            });
        }
 
        this.initialize();
    }
 
    $(document).ready(
        function() {
            new InfiniteScroll();
        }
    );
})(jQuery, window);
</script>
<script>
    $('.ui.accordion').accordion();
    $('.ui.dropdown').dropdown();
    $('.ui.multiple.search.dropdown').dropdown({allowAdditions: true});


    var yearRange = document.getElementById('yearRange');
    var ratingRange = document.getElementById('ratingRange');

    noUiSlider.create(yearRange, {
        start: [<%= filters.year.l %>, <%= filters.year.u %>],
        connect: true,
        margin: 1,
        step: 1,
        tooltips: true,
        behaviour: 'tap-drag',
        range: {
            'min': 1900,
            'max': 2018
        }
    });

    noUiSlider.create(ratingRange, {
        start: [<%= filters.rating.l %>, <%= filters.rating.u %>],
        connect: true,
        margin: 1,
        step: 0.1,
        tooltips: [ true, true ],
        behaviour: 'tap-drag',
        range: {
            'min': 0,
            'max': 10
        }
    });

    var yearValues0 = [
        document.getElementById('year-lower0'),
        document.getElementById('year-upper0')
    ];

    var yearValues = [
        document.getElementById('year-lower'),
        document.getElementById('year-upper')
    ];

    var ratingValues0 = [
        document.getElementById('rating-lower0'),
        document.getElementById('rating-upper0')
    ];

    var ratingValues = [
        document.getElementById('rating-lower'),
        document.getElementById('rating-upper')
    ];

    yearRange.noUiSlider.on('update', function( values, handle ) {
        yearValues0[handle].value = values[handle];
        yearValues[handle].innerHTML = Math.round(values[handle]);
    });
    ratingRange.noUiSlider.on('update', function( values, handle ) {
        ratingValues0[handle].value = values[handle];
        ratingValues[handle].innerHTML = Math.round(values[handle]);
    });
</script>

<% include ./assets/footer.ejs %>
