<% let videos;
    for (video of videos) { %>
        <a id="cardMargin" class="ui black card" href="/video/<%= video.id %>">
            <div class="ui image">
                <%  if (video.seen == 1) { %>
                    <span id="seen" class="ui black right ribbon label" style="z-index:99">Vue</span>
                <% } %>
                <img src="/assets/pics/<%= video.couv %>">
            </div>
            <div class="content">
                <span class="right floated">
                    <i class="fire black icon"></i>
                    <span style="color:black !important;"><%= video.downloads %></span>
                </span>
                <div class="header"><%= video.titre %> <span style="font-weight:normal;">, <%= video.year %></span></div>
                <div class="meta">
                    <span class="date">
                		<%= video.peers %> - <%= video.seeds %>
                    </span>
                </div>
                <div class="description">
                    <%= video.summary %>
                </div>
            </div>
            <div class="extra content">
								<%= video.note %>
                <span class="right floated">
                    <%= video.genre %>
                </span>
            </div>
        </a>
    <% }%>
<% } if (!videos) { %> <h1 class="ui">Aucun resultat...</h1> <% } %>