<% include ./assets/header %>
    <div id="dark_light" class="ui"><i class="lightbulb outline icon"></i></div>
    <div id="padBot" class="ui breadcrumb">
        <a class="section" href="/">Home</a>
        <span class="divider">/</span>
        <div class="active section">
            <%= title %>
        </div>
    </div>

    <div id="videoContainer">
	    <div class="ui segment" id="waiting-download" style="height: 660px">
	        <div class="ui active dimmer">
	            <div class="ui indeterminate text loader">Downloading file (<span id="progress">0</span>%)</div>
	        </div>
	    </div>
        <!-- <div id="finish-download">

        </div> -->
    </div>
    <div class="ui styled fluid accordion">
        <div class="title" style="background-color:#000000; text-align:center;">
            <i class="dropdown icon" style="color:#fff"></i>
            <span style="color:#fff">
                <%= i18n.__("About") %>
            </span>
        </div>
        <div class="content">
            <p class="transition hidden">
                <div class="ui left aligned large header">
                    <%= video.title %>
                        <span style="font-weight:normal;">,
                            <%= video.year %>
                        </span>
                </div>
                <p style="font-style: italic;">
                    <%= video.plot %>
                </p>
                <p>
                    <span class='vid_infos'>
                        <%= i18n.__("Genres") %>: </span>
                    <%= video.genres %>
                </p>
                <p>
                    <span class='vid_infos'>
                        <%= i18n.__("Directors") %>: </span>
                    <%= video.director %>
                </p>
                <p>
                    <span class='vid_infos'>
                        <%= i18n.__("Actors") %>: </span>
                    <%= video.actors %>
                </p>
            </p>
        </div>
    </div>
    <div class="ui raised segment">
        <h3 class="ui dividing header">
            <%= i18n.__("Comments") %>
        </h3>
        <div id="comForm" class="ui form" style="margin-bottom:1rem;">
            <div class="ui fluid input">
                <img class="fixavatar ui tiny rounded bordered image" src="<%= user.photo %>">
                <input class="ui" type="text" id="m" placeholder="<%= i18n.__('Thoughts') %>" autofocus>
            </div>
        </div>
        <div id="coms" class="ui comments">
            <% coms.forEach(com => { %>
                <% if (com.user_id === user.id) { %>
                    <div class="comment">
                        <a class="avatar">
                            <img src="<%= com.photo %>">
                        </a>
                        <div class="content">
                            <a class="author">
                                <%= com.first_name %>
                            </a>
                            <div class="metadata">
                                <span class="date">
                                    <%= com.creation %>
                                </span>
                            </div>
                            <div class="text">
                                <%= com.com %>
                            </div>
                        </div>
                    </div>
                    <% } else { %>
                        <div class="comment">
                            <a class="avatar" href="/user/<%= com.login %>">
                                <img src="<%= com.photo %>">
                            </a>
                            <div class="content">
                                <a class="author" href="/user/<%= com.login %>">
                                    <%= com.first_name %>
                                </a>
                                <div class="metadata">
                                    <span class="date">
                                        <%= com.creation %>
                                    </span>
                                </div>
                                <div class="text">
                                    <%= com.com %>
                                </div>
                            </div>
                        </div>
                        <% } %>
                <% }) %>
        </div>
    </div>
    <script>
        $('.url.example .ui.embed').embed();
        $('.ui.accordion').accordion();
        $('#comForm #m').keypress(function (e) {
            if (e.which == 13) {
                let com = $('#comForm #m').val()
                $.ajax({
                    type: "POST",
                    url: "/comments",
                    data: { "newcom": com, "video_id": <%= video.id %> },
                    dataType: "html",
                    success: function (response) {
                        $('#coms').prepend(response)
                    }
                });
                $('#comForm #m').val('')
                $('#comForm #m').focus()
            }
        });
        let dark = 0
        $('.url.example .ui.embed').embed();
        $('.ui.accordion').accordion();
        $('#dark_light').click(() => {
            if (dark == 0) {
                $('#dark_light i').css({color: "white"});
                $('a.section').css({color: "black"});
                $('.menu i').css({color: "black"});
                $('body').css({backgroundColor: "black"});
                $('.ui.raised.segment').css({visibility: "hidden"});
                $('.ui.styled.fluid.accordion').css({visibility: "hidden"});
                $('html').addClass('hide-scrollbar');
                dark = 1
            } else {
                $('#dark_light i').css({color: ""});
                $('a.section').css({color: ""});
                $('.menu i').css({color: ""});
                $('body').css({backgroundColor: ""});
                $('.ui.raised.segment').css({visibility: ""});
                $('.ui.styled.fluid.accordion').css({visibility: ""});
                $('html').removeClass('hide-scrollbar');
                dark = 0
            }
        })

        var downloading = setInterval(function () {
            $.ajax({
                type: "GET",
                url: "/video/download/<%= video.imdb_id %>",
                success: function (obj) {
                    console.log(obj)
                    $("#progress").text(obj.progress)
                    if (obj.progress == '100' && obj.subtitles == '1') {
                        clearInterval(downloading);
                        // probably wait 1 second for the subtitle creation
						$('#waiting-download')[0].style.display = 'none';
						$("#videoContainer").append(`<video id="videoPlayer" controls><source src="/dwl/<%= video.imdb_id %>" type="video/mp4">
			            <track label="English" kind="subtitles" srclang="en" src="/dwl/sub/<%= video.imdb_id %>/en" default>
			            <track label="French" kind="subtitles" srclang="fr" src="/dwl/sub/<%= video.imdb_id %>/fr" default></video>`)
						$("#videoPlayer").get(0).play()
					}
                }
            })
        }, 1000)
    </script>
    <% include ./assets/footer %>
