<form onkeypress="return event.keyCode != 13;" action="/modify_profile" method="post" enctype="multipart/form-data" class="ui equal width form">
    <div class="field">
        <label for="photo" class="ui icon button">
            <p><i class="cloud icon"></i><%= i18n.__("Profil picture") %></p>
        </label>
        <input type="file" id="photo" name="<%= i18n.__("Picture") %>" hidden>
    </div>

    <div class="fields">
        <div class="field">
            <label><%= i18n.__("Login") %></label>
            <input type="text" placeholder="<%= user.login %>" name="login">
        </div>
        <div class="field">
            <label><%= i18n.__("First name") %></label>
            <input type="text" placeholder="<%= user.first_name %>" name="first_name">
        </div>
        <div class="field">
            <label><%= i18n.__("Last name") %></label>
            <input type="text" placeholder="<%= user.last_name %>" name="last_name">
        </div>
    </div>

    <div class="fields">
	    <div class="field">
	        <label>E-mail</label>
	        <input type="email" placeholder="<%= user.email %>" name="email">
	    </div>
	    <div class="field">
	        <label><%= i18n.__("Language") %></label>
	        <input type="text" placeholder="<%= user.lang %>" name="lang">
	    </div>
	</div>

    <div class="fields">
        <div class="field">
            <label><%= i18n.__("New password") %></label>
            <input type="password" placeholder="<%= i18n.__("Password") %>" name="psswd">
        </div>
        <div class="field">
            <label><%= i18n.__("Confirmation") %></label>
            <input type="password" placeholder="<%= i18n.__("Password") %>" name="psswd_confirm">
        </div>
    </div>

    <button type="submit" class="fluid ui black submit button">
        <%= i18n.__("Modify") %>
    </button>
</form>
