<div class="ui black centered card" style="margin-top:30px;">
    <div class="ui image">
        <img src="<%= user.photo %>">
    </div>
    <div class="content">
        <div class="header"><%= user.first_name %> <%= user.last_name %></div>
        <span class="right floated">
            <span ><%= user.login %></span>
        </span>
        <div class="meta">
            <span class="date">
                <%= user.email %>
            </span>
        </div>
    </div>
</div>
